What to be improved

* Work Location and Home Location (depending on location request. latitude, longitude, timestamp)
* Implement two-auth email registration

GMS - Caveat 

* Latest Point dan Level Point not tally between purchase log and customer profile

GMS - Customer Profile
* Clean Fraud Referal
* Join Demographic customer with userID in purchase log
* Email drop duplicate
* Fraud Flag
* How many referral from this and to customer

GMS - Purchase Log

--- Customer View
* Create Latest Point
* Create Level Point
* Counting Purchase, Redeem, Visit, and Referral, Total Spend (Takeaways & dine-in)
* Ever Purchase Flag

--- Outlet View
* Total Spend dine-in for each outlet
* How many people dine-in for each outlet

### TODO

* Email Fraud Flag
  1. Email regular expression
  2. Email Fuzzy Matching

In [1]:
import sqlalchemy as sa

In [3]:
#con = sa.create_engine("postgresql+psycopg2://eways:eways!23@209.97.160.145:5433/pizzahut")

In [4]:
import pandas as pd
import numpy as np

In [5]:
points = pd.read_csv('data/report_point_log_20181203-20181209.csv')
customers = pd.read_csv('data/report_customer_20181203-20181209.csv')

FileNotFoundError: File b'data/report_point_log_20181203-20181209.csv' does not exist

In [ ]:
customers.head()

In [ ]:
customers.groupby('Phone')['Email'].nunique().value_counts().sort_values(ascending=False)

More than 3, will be considered as fraud.

In [6]:

(points.head(1000)
 .groupby('Email')
 .apply(lambda x: 
  len(x.loc[points['Reward Type'] == 'REFERRAL', 'Note'].str.split(' ').str[-1].tolist()))

SyntaxError: unexpected EOF while parsing (<ipython-input-6-015d4bc15abf>, line 5)

In [ ]:
points['Reward Type'].unique()

# Points

### Customer Level and Latest Points

In [6]:
def level_points(x):
    return x[x > 0].sum() + 20

def latest_points(x):
    return x.sum() + 20

def total_redeem(x):
    return x[x]

def total_types(x, typ):
    return x[x == typ].count()

def total_types_d(x):
    return pd.Series(x['Reward Type'].value_counts().to_dict())

In [7]:
lv_latest_pts = (points
                 .groupby('Email')
                 .agg({
                     'Reward Point': [level_points, latest_points]}))

lv_latest_pts.columns = lv_latest_pts.columns.droplevel(level=0)

### Count of Rewards Types

In [8]:
reward_types = points['Reward Type'].unique()
rwds_cust = (points
             .groupby('Email')
             .apply(total_types_d)
             .unstack('Email')
             .T
             .fillna(0))
rwds_cust.columns = 'count_' + rwds_cust.columns

### Total Redeem per Costumers

In [9]:
redeem_cust = np.abs(points
              [points['Reward Type'] == 'USE']
               .groupby('Email')
               ['Reward Point'].sum())

In [10]:
pts_summary = pd.concat([lv_latest_pts, rwds_cust, redeem_cust],axis=1, sort=False);

In [15]:
customers['Birthday'] = pd.to_datetime(customers['Birthday'], 
                                       infer_datetime_format=True,
                                      errors='coerce')

In [ ]:
customers['Created Date'] = pd.to_datetime(customers['Created Date'], 
                                       infer_datetime_format=True,
                                      errors='coerce')

In [22]:
customers

,No.,Email,Full Name,Phone,Birthday,Gender,Reward Point,Level Point,Created Date
0,1,liliyana_sutanto@yahoo.com,Liliyana Sutanto,8113093985,1985-09-05,female,20,20,2018-12-09 23:37:00
1,2,lizaicha86@gmail.com,Nurliza Yuliasari,81394132574,1974-07-14,female,20,20,2018-12-09 23:36:00
2,3,graciegnw16@gmail.com,shativa difkania,82125619339,2000-11-18,female,20,20,2018-12-09 23:32:00
3,4,adhienwidya@gmail.com,Adhien Widyayandika,82233147356,2003-03-27,male,20,20,2018-12-09 23:30:00
4,5,yohanasidauruk79@gmail.com,Yohana Nelly,81321210592,1979-09-24,female,20,20,2018-12-09 23:29:41
5,6,arifrachman7117@gmail.com,Tubagus Arif Rachman,81316500961,1987-10-01,male,20,20,2018-12-09 23:15:00
6,7,oelieuli@gmail.com,juli,85950086687,1981-10-25,male,20,20,2018-12-09 23:12:56
7,8,rachmanarif7117@gmail.com,Arif Rachman,81316500961,1987-10-01,male,20,20,2018-12-09 23:12:00
8,9,alvinfirst01@gmail.com,Marpfirst,82239219250,2002-09-25,male,20,20,2018-12-09 22:59:03
9,10,lusylie2015@gmail.com,Lusy Lie,85821525857,NaT,male,20,20,2018-12-09 21:38:55
10,11,apreliasiskyp@icloud.com,Aprelia Sisky P,85934606929,1998-04-05,female,20,20,2018-12-09 21:34:00
11,12,darwin35@rocketmail.com,Nur Aida,8975996624,1997-06-18,male,20,20,2018-12-09 20:53:33
12,13,julidonvito87@gmail.com,Muhammad Sukron ( ondonk),82255253249,1987-08-10,male,20,20,2018-12-09 19:06:00
13,14,theodorineernitap@gmail.com,theodorine ernita,81542121330,1997-03-18,female,22,22,2018-12-09 18:21:08
14,15,auraliasyalsha@gmail.com,Syalshavina Auralia,87776251757,1999-08-24,female,20,20,2018-12-09 18:16:00
15,16,y_onatan@yahoo.com,Yonatan Yonatan,81249657079,NaT,male,20,20,2018-12-09 17:58:00
16,17,ayu_lestari1888@yahoo.com,Ayu Lestari,81380194706,1998-09-18,female,20,20,2018-12-09 17:25:00
17,18,herlinsafira26@gmail.com,Herlin Savira Putri Henoetasi,89609853612,1998-09-07,female,20,20,2018-12-09 16:56:26
18,19,bumbleminq@gmail.com,Ming,82299041109,NaT,other,20,20,2018-12-09 16:52:00
19,20,zmustariah@gmail.com,zulaikha mustariah,81315093395,1994-01-28,female,20,20,2018-12-09 16:50:00
20,21,ekacintiyafebrianti@yahoo.com,Eka Cintiya Febrianti,82251226099,NaT,other,20,20,2018-12-09 16:43:00
21,22,lidyasafitri@yahoo.com,Via,8561604300,1987-09-08,male,20,20,2018-12-09 16:39:00
22,23,septiesaputra@ymail.com,SepTi Tri MarTa,81532519588,1988-09-23,male,20,20,2018-12-09 16:18:05
23,24,shaqeena.cj@gmail.com,Dian,8984187669,1983-02-20,female,20,20,2018-12-09 16:19:00
24,25,stelladanie_4eva@yahoo.co.id,Stella Prescilia,89671022585,1988-12-31,male,20,20,2018-12-09 16:03:00
25,26,ringoaldri3n@gmail.com,Ringo paul,8561026983,1980-01-01,NaN,20,20,2018-12-09 15:57:00
26,27,frb0512@gmail.com,Fachri Ramanda,81287595965,NaT,other,20,20,2018-12-09 15:47:00
27,28,gongjunim09@gmail.com,Apriyansi Irliwanti,81411043734,1982-04-14,male,20,20,2018-12-09 15:42:00
28,29,asdienf31@gmail.com,Nur As Dien Firdaus,85795567796,1997-10-31,male,20,20,2018-12-09 15:38:21
29,30,yong_cien@yahoo.com,candra wijaya,81335553999,1983-05-17,male,20,20,2018-12-09 15:39:00
...,...,...,...,...,...,...,...,...,...
28950,28951,Sf30633@gmail.com,Siti Fauziah,89518425685,1999-06-15,female,20,20,2018-10-01 02:58:00
28951,28952,robbyamin12@gmail.com,robby amin,81285970301,1979-11-25,male,46,66,2018-10-01 02:57:00
28952,28953,ahadaelsaaprr@gmail.com,Ahada Elsaapr,87787973283,2000-04-30,male,20,0,2018-10-01 02:48:40
28953,28954,fathurrohman202@gmail.com,Fathurrohman,82114451545,1981-07-10,male,102,132,2018-10-01 02:46:00
28954,28955,go.kill29@gmail.com,ros ndra,87820796003,1994-10-29,female,117,117,2018-10-01 02:44:34
28955,28956,dientu2k@gmail.com,Trong Hung Vu Trong Hung Vu,98768766888,NaT,male,20,20,2018-10-01 02:41:00
28956,28957,rianasari841@gmail.com,Riana Sari,89514229955,1997-12-07,male,62,62,2018-10-01 02:34:45
28957,28958,achmad_zuhdy@phd.co.id,Zuhdy,628561682984,1980-09-17,NaN,20,20,2018-10-01 02:27:00
28958,28959,ebysavika31@gmail.com,Eby Savika,895371529677,1996-08-31,male,20,0,2018-10-01 01:57:23
28959,28960,audisyahrul@gmail.com,Audi Syahrul,81133365818,1987-12-12,male,20,20,2018-10-01 01:55:00
28960,28961,aroel.okeh2@gmail.com,Aroel Okeh,8977327715,1994-06-20,male,20,0,2018-10-01 01:53:31
28961,28962,alandratio123@gmail.com,Alandra,82311606549,1997-05-13,male,20,20,2018-10-01 01:49:00
28962,28963,shintabela070900@gmail.com,Shinta Bela,85770824049,NaT,female,22,20,2018-10-01 01:30:00
28963,28964,yolandakristi@gmail.com,yolanda kristi,85956002575,1998-09-23,female,44,44,2018-10-01 01:36:00
28964,28965,ttitin965@gmail.com,Titin Nurmala18,81293747336,1999-08-18,female,22,0,2018-10-01 01:33:55
28965,28966,daraermawati@gmail.com,Dara Ermawati,85220430372,1999-08-19,female,32,32,2018-10-01 01:34:00
28966,28967,annisaanwar314@gmail.com,Annisa Anwar,81298642062,2000-07-24,female,24,24,2018-10-01 01:31:31
28967,28968,adrianrizky2610@gmail.com,Adrian,81932317226,1997-10-26,male,20,20,2018-10-01 01:32:00
28968,28969,wawanabu@yahoo.co.id,Syfreffnd Syfreffnd,83808843910,2001-01-05,female,24,24,2018-10-01 01:29:26
28969,28970,indy_keyza@yahoo.com,Indy Keyziel,81377735547,1983-03-05,female,27,27,2018-10-01 01:29:40
28970,28971,sarahiskan@gmail.com,sarah,85883489761,1999-11-20,female,64,64,2018-10-01 01:30:00
28971,28972,riszkaaisyah@gmail.com,Aisyah Riszka,895335673021,1999-09-03,female,24,24,2018-10-01 01:30:00
28972,28973,jenal8803@gmail.com,Elsa bella,895413783493,1999-08-12,male,20,0,2018-10-01 01:28:40
28973,28974,syifafauziah257@gmail.com,syifa fauziah,87874886744,1995-07-25,female,22,0,2018-10-01 01:25:58
28974,28975,auliachair2311@gmail.com,Aulia Chairunnisa,81807353132,1998-11-23,female,62,62,2018-10-01 01:29:00
28975,28976,anissarahma659@gmail.com,Anissa Rahmawati,87839797641,1996-11-16,female,64,64,2018-10-01 01:26:28
28976,28977,nengafis0128@gmail.com,Neng Afis,82324157614,1998-07-01,female,26,26,2018-10-01 01:25:29
28977,28978,devinroesady@gmail.com,Devin,895322916352,1999-08-08,male,6,156,2018-10-01 01:26:00
28978,28979,sinkykatrina10@gmail.com,Sinky Winti Katrina,89510165843,1999-10-01,female,20,20,2018-10-01 00:49:00
28979,28980,Hendrirockshop@gmail.com,Hendri,85715367938,1985-07-05,male,30,30,2018-10-01 00:34:00

In [23]:
cust_sum = pd.merge(pts_summary,
         customers[['Email', 'Birthday', 'Gender', 'Created Date']],
         left_index=True,
         right_on='Email')

In [32]:
cust_sum.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12954 entries, 25365 to 24917
Data columns (total 12 columns):
level_points      12954 non-null int64
latest_points     12954 non-null int64
count_BIRTHDAY    12954 non-null float64
count_PURCHASE    12954 non-null float64
count_REFERRAL    12954 non-null float64
count_USE         12954 non-null float64
count_VISIT       12954 non-null float64
Reward Point      963 non-null float64
Email             12954 non-null object
Birthday          12247 non-null datetime64[ns]
Gender            12758 non-null object
Created Date      12954 non-null datetime64[ns]
dtypes: datetime64[ns](2), float64(6), int64(2), object(2)
memory usage: 1.3+ MB

In [36]:
con.table_names()

['Teeest',
 'membership-points',
 'ga_180533484_events',
 'firebase_app_acquisition',
 'firebase_app_crash_free_users',
 'TEst2',
 'firebase_app_version_adoption',
 'firebase_demographics_age',
 'firebase_demographics_countries',
 'firebase_demographics_devices',
 'firebase_demographics_gender',
 'membership',
 'firebase_user_engagement_per_event',
 'firebase_demographics_os',
 'firebase_events',
 'firebase_user_metric',
 'ga_180533484_user_metrics',
 'ga_180533484_locations',
 'Campaign Summary',
 'bitly_download',
 'fb_add_manager_ilab',
 'registration_temporary',
 'hockeyapp_metrics',
 'Testtt']

In [37]:
pd.read_sql('membership-points', con=con)

Empty DataFrame
Columns: [index, level_points, latest_points, count_BIRTHDAY, count_PURCHASE, count_REFERRAL, count_USE, count_VISIT, Reward Point, Email, Birthday, Gender, Created Date]
Index: []

In [ ]:
cust_sum.to_sql('membership-points', con=con, if_exists="replace")

### Customer Categories

In [48]:
cust_sum.columns

Index(['level_points', 'latest_points', 'count_BIRTHDAY', 'count_PURCHASE',
       'count_REFERRAL', 'count_USE', 'count_VISIT', 'Reward Point', 'Email',
       'Birthday', 'Gender', 'Created Date'],
      dtype='object')

In [49]:
cust_sum.columns= ['level_points', 'latest_points', 'count_BIRTHDAY', 'count_PURCHASE',
       'count_REFERRAL', 'count_USE', 'count_VISIT', 'point_redeem', 'Email',
       'Birthday', 'Gender', 'Created Date']

In [62]:
cust_sum.point_redeem.min()

0.0

In [71]:
cust_sum['pt_redeem_cat'].value_counts()

0          11991
1-20         362
21-50        329
51-100       166
101-200       57
201-500       37
>500          12
Name: pt_redeem_cat, dtype: int64

In [59]:
cust_sum.point_redeem.fillna(0, inplace=True)

In [67]:
point_labels = ["0", "1-20", "21-50", "51-100", "101-200", "201-500", ">500"]

In [70]:
cust_sum['pt_redeem_cat'] = pd.cut(cust_sum['point_redeem'],
                          [-9999999,1,20, 50, 100, 200, 500, 9999999999],
                          labels=point_labels )

In [ ]:
cust

# Customer Profile

In [8]:
df[df['Reward Point']==0]

Empty DataFrame
Columns: [No., Email, Name, Phone, Reward Type, Total Spend, Reward Point, Latest Point, Note, Created Date]
Index: []

In [5]:
df[d]

Empty DataFrame
Columns: [No., Email, Name, Phone, Reward Type, Total Spend, Reward Point, Latest Point, Note, Created Date]
Index: []

In [2]:
df = pd.read_clipboard()

In [10]:
(df
 .groupby(['Level Point Cat', 'Gender', 'Latest Point Cat'])
 .size()
 .unstack(['Level Point Cat', 'Gender'])
 .fillna(0)
 .to_clipboard())

In [ ]:
df.pivot_table

In [12]:
df['lv_pts_bkt'] = pd.cut(df['Level Point'], [0,20, 30, 40, 50, 9999999])

In [24]:
df['Latest Point'].max()

873

In [16]:
df['Late']

0         20
1         20
2         20
3         20
4         20
5         20
6         20
7         20
8         20
9         20
10        20
11        20
12        20
13        20
14        20
15        20
16        20
17        20
18        20
19        20
20        20
21        20
22        20
23        20
24        20
25        20
26        20
27        20
28        20
29        20
        ...
23598     20
23599     66
23600      0
23601    132
23602    117
23603     20
23604     22
23605     20
23606      0
23607     20
23608      0
23609     20
23610     20
23611     44
23612      0
23613     32
23614     24
23615     20
23616     24
23617     27
23618     64
23619     24
23620      0
23621      0
23622     62
23623     64
23624     26
23625    156
23626     20
23627     30
Name: Level Point, Length: 23628, dtype: int64

In [26]:
df.pivot_table(index='Latest Point Cat', columns = ['lv_pts_bkt', 'Gender'],
                aggfunc='size').fillna(0).sum().sum()

23614.0

In [80]:
df['Total Poin Redeem Cat'].value_counts()

0          22869
1-20         294
21-50        234
51-100       131
101-200       55
201-500       35
>500          10
Name: Total Poin Redeem Cat, dtype: int64

In [89]:
df['redeem_bkt'] = pd.cut(df['Total Point Redeem'],
                          [0,1,20, 30, 40, 50, 9999999],
                          include_lowest=True, labels=['Other','<20', '20-30', '30-40', '40-50', '>50'])

In [90]:
df['Total Point Redeem'].max()

1300

In [91]:
df['redeem_bkt'].value_counts()

Other    22869
<20        294
>50        231
20-30       89
30-40       77
40-50       68
Name: redeem_bkt, dtype: int64

In [94]:
_93.to_clipboard()

In [45]:
points.head()

,No.,Email,Name,Phone,Reward Type,Total Spend,Reward Point,Latest Point,Note,Created Date
0,1,parkhyera11@gmail.com,Maria,81288082180,PURCHASE,???,3,38,You got 3 point for bill #2445 at Pizza Hut Ta...,2018-12-09 22:59:25
1,2,sarisintadewi@yahoo.com,Sinta Dewi,81649163096,VISIT,???,2,36,You got 2 point by visit outlet Pizza Hut Ayan...,2018-12-09 22:46:48
2,3,putridewi2407122@gmail.com,putri dewi,89694640328,VISIT,???,2,24,You got 2 point by visit outlet Pizza Hut Ayan...,2018-12-09 22:46:34
3,4,dwiastutisetyorini@gmail.com,Dwiastuti Setyorini,8121713289,PURCHASE,???,12,50,You got 12 point for bill #2123 at Pizza Hut D...,2018-12-09 22:43:11
4,5,uhyawahyu@gmail.com,Uhya Wahyu,89632329900,VISIT,???,2,22,You got 2 point by visit outlet Pizza Hut Seti...,2018-12-09 22:40:51

In [46]:
pd.cut()

,level_points,latest_points,count_BIRTHDAY,count_PURCHASE,count_REFERRAL,count_USE,count_VISIT,Reward Point,Email,Birthday,Gender,Created Date
25365,31,1,0.0,1.0,0.0,1.0,1.0,30.0,03ana0@gmail.com,1984-05-19,female,2018-10-29 11:25:00
21986,60,60,1.0,0.0,0.0,0.0,0.0,NaN,082192123303sinar@gmail.com,1990-11-11,female,2018-11-07 05:09:00
25033,49,49,0.0,1.0,0.0,0.0,1.0,NaN,083176230309zahra@gmail.com,1989-05-20,male,2018-10-31 10:38:28
9781,62,2,1.0,0.0,0.0,1.0,1.0,60.0,0895385089824@gmail.com,1993-11-28,male,2018-11-27 08:36:00
1013,25,25,0.0,1.0,0.0,0.0,1.0,NaN,0n3scm@gmail.com,1975-08-10,male,2018-12-08 10:33:33

In [44]:
"""
Age    Age Range    Area    Latest Point    Latest Point Cat    Level Point    Level Point Cat    Total Point Redeem    Total Point Redeem Cat    Count Purchase    Count Redeem    Count Visit    Count Referral    Count Purchase Cat    Count Redeem Cat    Count Visit Cat    Count Referral Cat    Bill count    Bill Count Cat    Order Count    Order Count Cat    Bill Spend    Bill Spend Cat    Order Spend    Order Spend Cat

""".split('    ')

['\nAge',
 'Age Range',
 'Area',
 'Latest Point',
 'Latest Point Cat',
 'Level Point',
 'Level Point Cat',
 'Total Point Redeem',
 'Total Point Redeem Cat',
 'Count Purchase',
 'Count Redeem',
 'Count Visit',
 'Count Referral',
 'Count Purchase Cat',
 'Count Redeem Cat',
 'Count Visit Cat',
 'Count Referral Cat',
 'Bill count',
 'Bill Count Cat',
 'Order Count',
 'Order Count Cat',
 'Bill Spend',
 'Bill Spend Cat',
 'Order Spend',
 'Order Spend Cat\n\n']

In [41]:
(df
 .groupby(['Gender', 'Count Redeem', 'redeem_bkt'])
 .size()
 .unstack(['Gender','redeem_bkt'])
 .fillna(0))

NameError: name 'df' is not defined

In [68]:
df['redeem_bkt'].fillna('Other')

ValueError: fill value must be in categories

In [56]:
df['Latest Point Cat']

0           0-20
1           0-20
2           0-20
3           0-20
4           0-20
5           0-20
6           0-20
7           0-20
8           0-20
9           0-20
10          0-20
11          0-20
12          0-20
13          0-20
14          0-20
15          0-20
16          0-20
17          0-20
18          0-20
19          0-20
20          0-20
21          0-20
22          0-20
23          0-20
24          0-20
25          0-20
26          0-20
27          0-20
28          0-20
29          0-20
          ...
23598       0-20
23599      21-50
23600       0-20
23601    101-150
23602    101-150
23603       0-20
23604      21-50
23605       0-20
23606       0-20
23607       0-20
23608       0-20
23609       0-20
23610      21-50
23611      21-50
23612      21-50
23613      21-50
23614      21-50
23615       0-20
23616      21-50
23617      21-50
23618     51-100
23619      21-50
23620       0-20
23621      21-50
23622     51-100
23623     51-100
23624      21-50
23625       0-20
23626       0-20
23627      21-50
Name: Latest Point Cat, Length: 23628, dtype: object

In [66]:
df['redeem_bkt'].isnull().value_counts()

True     22869
False      759
Name: redeem_bkt, dtype: int64

In [65]:
df['redeem_bkt'].value_counts()

(1, 20]          294
(50, 9999999]    231
(20, 30]          89
(30, 40]          77
(40, 50]          68
(0, 1]             0
Name: redeem_bkt, dtype: int64

In [61]:
(df.groupby(['Gender', 'redeem_bkt', 'Count Redeem'])
 .size().unstack(['Gender','redeem_bkt'])
 .fillna(0))

Gender        female                                             male  \
redeem_bkt   (1, 20] (20, 30] (30, 40] (40, 50] (50, 9999999] (1, 20]
Count Redeem
1               95.0     25.0     22.0     14.0          20.0   183.0
>1               0.0      0.0      1.0      2.0          31.0     0.0

Gender                                                  other           \
redeem_bkt   (20, 30] (30, 40] (40, 50] (50, 9999999] (1, 20] (20, 30]
Count Redeem
1                62.0     50.0     47.0          81.0    16.0      2.0
>1                0.0      2.0      5.0          96.0     0.0      0.0

Gender
redeem_bkt   (30, 40] (50, 9999999]
Count Redeem
1                 2.0           2.0
>1                0.0           1.0

In [50]:
df['Count Redeem'].value_counts()

0     22869
1       621
>1      138
Name: Count Redeem, dtype: int64

In [27]:
df.columns9

Index(['No.', 'Email', 'Full Name', 'Phone', 'Birthday', 'Age', 'Age Range',
       'Gender', 'Latest Point', 'Latest Point Cat', 'Level Point',
       'Level Point Cat', 'Created', 'Banyak', 'Area', 'Count Purchase',
       'Banyak Purchase', 'Bill?', 'Bill Cat', 'order?', 'Order Cat',
       'Total Spend', 'Total Spend Cat', 'Total Bill', 'Total Bill Cat',
       'Total Order', 'Total Order Cat', 'Avarage Spend', 'Avarage Spend Cat',
       'Count Redeem', 'Count Visit', 'Count Referral', 'Total Point Redeem',
       'Total Poin Redeem Cat', 'lv_pts_bkt'],
      dtype='object')